<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlinkTrim</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/elements/www.png') }}" type="image/icon">
    <!-- Include the CSS file from the static directory -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">
</head>
<body>
    <nav>
        <div class="logo">
            <h3 id="goHomepage">Blink<span>Trim</span></h3>
        </div>
        <div class="nav-items">
            <!-- Use Flask's url_for function to generate URLs -->
            <h4 class="home"><a href="{{ url_for('home') }}" class="home">Home</a></h4>
            <div class="nextButton" onClick="uploadURL()">
                <h4 class="goNext">Get Started</h4>
            </div>
        </div>
    </nav>
    <h1 class="header">Link <span style="color:#854CFF;">Less,</span> Do <span style="color:#FFC857;">More!</span></h1>

    <div class="container">
        <div class="col1">
            <div class="secure">
                <!-- Use url_for to generate the path to your images -->
                <img src="{{ url_for('static', filename='assets/elements/shield.png') }}" class="shield">
                <h3>Secure & Reliable</h3>
            </div>
            <div class="cheap">
                <img src="{{ url_for('static', filename='assets/elements/dollar.png') }}" class="dollar">
                <h3>Free & Easy to Use</h3>
            </div>
        </div>
        
        <div class="col2">
            <!-- Use url_for for background images as well -->
            <img src="{{ url_for('static', filename='assets/elements/bg.png') }}">
        </div>
        
        <div class="col3">
            <div class="customize">
                <img src="{{ url_for('static', filename='assets/elements/edit.png') }}" class="edit">
                <h3>Highly Customizable</h3>
            </div>
            <div class="blazing">
                <img src="{{ url_for('static', filename='assets/elements/lightning.png') }}" class="fast">
                <h3>Blazing Fast</h3>
            </div>
        </div>
    </div>
    <p class="watermark">&copy;RB</p>

    <!-- Flask routes handle navigation -->
    <script>
        function uploadURL(){
            window.location.href = "{{ url_for('upload') }}";
        }
    </script>
    <script>
        document.getElementById("goHomepage").addEventListener("click", function(event){
            window.location.href = "{{ url_for('home') }}";
        })
    </script>
</body>
</html>
